<main class="center">
    <div class="section"></div>
    <h5 class="indigo-text">Inicia sesión para continuar</h5>
    <div class="section"></div>

    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">        

        <%= form_for :session, html: {role: "form", class: "col s12"} do |f| %>
          
          <% if flash[:error] %>        
            <span class="red-text">
              <%= flash[:error] %>
            </span>
          <% end %>
          
          <div class='row'>
            <div class='input-field col s12'>
              <%= f.email_field :email %>              
              <label for='email'>Correo electrónico</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <%= f.password_field :password %>              
              <label for='email'>Contraseña</label>
            </div>
          </div>

          <div class="center">
            <div class="row">
              <%= f.submit "Enviar", class: "col s12 btn btn-large " %>              
            </div>
          </div>          

        <% end %>

        <a href="#">Registro</a>        

        <div class="section"></div>
      </div>
    </div>

  <div class="section"></div>
  <div class="section"></div>
</main>