<div class="center">
    <div class="section"></div>
    <h5 class="indigo-text">Iniciar Sesión</h5>
    <% if flash[:error] %>
              <span class="red-text">
                <%= flash[:error] %>
              </span>
    <% end %>
    <div class="section"></div>

    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">        

        <%= form_for :session, html: {role: "form", class: "col s12"} do |f| %>
          
          <div class="row">
            <div class="input-field col s12">
              <%= f.email_field :email, :required => true %>
              <%= f.label :email, "Correo Electrónico" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.password_field :password, :required => true %>
              <%= f.label :password, "Contraseña"%>
            </div>
          </div>

          <div class="center">
            <div class="row">
              <%= f.submit "Enviar", class: "col s12 btn btn-large " %>              
            </div>
          </div>          

        <% end %>

        <%= link_to new_customer_path do %>
          Registro
        <% end %>

        <div class="section"></div>
      </div>
    </div>
</div>

<script>
    $(function(){
        $.backstretch("<%= image_path('money.jpeg') %>");
    });
</script>