<!DOCTYPE html>
<html>
  <head>
    <title>Ewallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper">

        <a href="#" data-target="slide-out" class="sidenav-trigger brand-logo show-on-large"><i class="material-icons">menu</i>eWallet</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <%= link_to session_destroy_path, method: :delete, id: 'cerrar_sesion_btn' do %>
              Cerrar Sesión
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <ul id="slide-out" class="sidenav">
      <li>
        <%= link_to home_path do %>
          <i class="material-icons">account_balance_wallet</i>Mi Wallet
        <% end %>
      </li>
      <li>
        <%= link_to cards_path do %>
          <i class="material-icons">credit_card</i>Administrar Tarjetas
        <% end %>
      </li>
      <li><a href="#!"><i class="material-icons">send</i>Transferencias</a></li>
      <li><a href="#!"><i class="material-icons">history</i>Historial</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>

    <div class="container">
      <%= yield %>
    </div>

    <script>
        $(document).ready(function(){
            $(".sidenav").sidenav();
        });
    </script>
  </body>
</html>
